@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@plugin "./hero.ts";

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

html,
body {
  font-family: "Open Sans";
}

@theme {
  --color-secondary: rgb(89, 133, 157);
  --color-primary: rgb(22, 144, 145);
  --color-background-light: rgb(242, 247, 253);
}

.noscrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.noscrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.bn-editor {
  padding-inline: 0px !important;
}
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
